<div class="container">
  <!-- Navbar'ı üst kısımda sola hizalı gösterelim -->
  <div class="row">
    <div class="col-12">
      <navbar></navbar>
      <!-- Navbar üst kısımda -->
    </div>
  </div>

  <!-- Router-outlet ve logging bileşenlerini ortalayalım -->
  <div class="row justify-content-center">
    <div class="col-md-5 mt-5">
      <router-outlet></router-outlet>
      <!-- Burada içerik görünecek -->
    </div>
  </div>

  <!-- Logging bileşenini altta gösterelim -->
  <div class="row justify-content-center">
    <div class="col-12">
      <logging></logging>
      <!-- Alt kısımda logging bileşeni -->
    </div>
  </div>
</div>
