.center-container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  font-size: 1.1rem; /* Yazı boyutunu biraz artırabiliriz */
}
