<div
  class="card my-3"
  *ngFor="let movie of movies"
  style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)"
>
  <div class="row no-gutters">
    <div class="col-md-4">
      <img
        [src]="
          movie.imageUrl.endsWith('.jpg')
            ? movie.imageUrl.replace('.jpg', '.jpeg')
            : movie.imageUrl
        "
        alt="{{ movie.name }}"
        class="card-img"
        style="object-fit: cover; height: 200px; border-radius: 8px"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          <a [routerLink]="['/detail', movie.id]" class="text-dark">{{
            movie.name
          }}</a>
        </h5>
        <p class="card-text">{{ movie.description }}</p>
        <div class="d-flex justify-content-end">
          <a
            class="btn btn-outline-primary btn-sm"
            [routerLink]="['/detail', movie.id]"
          >
            View Details
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="movieLength > 4" class="text-center my-4">
  <a class="btn btn-primary btn-lg" routerLink="/movies">See More Movies</a>
</div>
